
@{
    ViewData["Title"] = "NotInitialized";
    Layout = "~/Views/Shared/_BareLayout.cshtml";
}


<div class="row main">
    <div class="col-sm-12" style="text-align:center;">
        <img src="~/assets/Under-Construction-icon.png" />

        <h2>Not Initialized</h2>

        <div class="headline">This site has not yet been initialized.  Please contact your system administrator.</div>
    </div>
</div>

