
@{
    ViewData["Title"] = "UnderConstruction";
}


<div class="row main">
    <div class="col-sm-12" style="text-align:center;">
        <img src="~/assets/Under-Construction-icon.png" />

        <h2>Under Construction</h2>

        This page is currently under construction.
    </div>
</div>

