@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<v-app>
    <div id='app'>
        <v-content>
            <v-container fluid>
                <v-layout>
                    <v-flex md6 xs12>
                        <h4>@ViewData["Title"]</h4>
                        @Html.Partial("_StatusMessage", Model.StatusMessage)
                        <div>
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="OldPassword"></label>
                                    <input asp-for="OldPassword" class="form-control" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NewPassword"></label>
                                    <input asp-for="NewPassword" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-default">Update password</button>
                            </form>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </div>
</v-app>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>

        Vue.use(Vuetify);
        app = new Vue({
            el: '#app',
            data: {
                testdata: 'This is a test'
            }
        });

    </script>
}
