
@{
    ViewData["Title"] = "System Settings";
}

<div class="banner">System Settings</div>

<v-app data-app>
    <div id="app">
        <v-content>
            <v-container fluid>
                <v-flex class="xs12 lg6">
                    <v-card dark flat class="noborder" style="height: 70vh; overflow-y:auto;">
                        <v-card-title class="headline">
                            System Settings
                            <span style="font-weight: bold; color: yellow; font-size: medium; margin-left: 1em;">{{status_text}}</span>
                            <v-btn flat small text v-show="is_changed" v-on:click="save_changes()">Save Changes</v-btn>
                        </v-card-title>
                        <v-card-text>
                            <div style="display: flex; flex-direction: column;  flex-wrap:wrap;  width: 100%; align-items: flex-start; align-content: flex-start;">
                                <v-text-field style="width: 20em;" v-for="setting in global_settings" :key="setting.Key" v-model="setting.SettingValue" :label="setting.SettingKey" v-on:input="on_user_input('setting', setting)"></v-text-field>
                                <v-textarea outline v-model="announcement.SettingValue" label="Announcement" auto-grow style="width: 100%" v-on:input="on_user_input('setting', announcement)"></v-textarea>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-container>
        </v-content>
        <infodialog width="300px" ref="infodialog"></infodialog>
    </div>
</v-app>


@section Scripts  {

    <script src="~/dist/infodialog.js"></script>

    <script>

        var App;
        console.log('utils', utils);
        var RootURL = utils.root_url();
        var AjaxResult;


        function api_url(method) {
            var result = RootURL + "api/" + method;
            return result;
        }

        function starts_with(x, ch) {
            return (x.length > 0 && x[0] === ch);
        }

        function ends_with(x, ch) {
            let l = x.length;
            return (l > 0 && x[l - 1] === ch)
        }

        function trim_location(loc) {
            while (starts_with(loc, '/')) loc = loc.substr(1);
            while (ends_with(loc, '/')) loc = loc.substr(0, loc.length - 1);
            return loc;
        }

        $(document).ready(function () {
            $('select').formSelect();
        });


        app = new Vue({
            el: '#app',
            components: {
                "infodialog": VueComponents.InfoDialog
            },
            data: {
                announcement: { SettingID: 0, SettingKey: 'announcement', SettingValue: '', IsChanged: false },
                global_settings: [],
                status_text: "",
                is_changed: false,
            },
            created: function () {
                this.refresh();
            },
            methods: {
                update_model: function (ajax_result) {
                    AjaxResult = ajax_result;
                    if (AjaxResult.Success) {
                        let self = this;
                        let settings = ajax_result.Data.Settings;
                        let global_settings = this.global_settings;

                        this.is_changed = false;
                        this.status_text = "";
                        ajax_result.Data.GlobalSettings.forEach(function (setting) {
                            if (!setting.SettingKey.startsWith('user.') && !setting.SettingKey.endsWith("LocationSchema")) {
                                if (setting.SettingKey == 'System.Announcement') {
                                    self.announcement = setting;
                                }
                                else {
                                    self.global_settings.push(setting);
                                }
                            }
                        });
                    }
                    else {
                        this.set_status_message(AjaxResult.Message, 4000);
                    }
                },

                refresh: function () {
                    console.log("In refresh()");
                    this.is_changed = false;
                    let self = this;
                    axios({
                        method: 'GET',
                        url: api_url('settings')
                    }).then(function (result) {
                        console.log("Have result for refresh()", result);
                        self.update_model(result.data);
                    })
                        .catch(function (error) { console.log(error); });
                },

                verify_changes: function () {
                    let result = true;
                    let errmsg = undefined;
                    if (errmsg) this.set_status_message(errmsg, 5000);
                    return result;
                },

                save_changes: function () {
                    if (this.verify_changes() === false) return;
                    let self = this;
                    // Owners look like { OwnerID: int, Name: string, IsChanged: bool }
                    // Groups look like { GroupID: int, Name: string, IsChanged: bool }
                    let postdata = {
                        GlobalSettings: this.global_settings.slice(0),
                    }
                    postdata.GlobalSettings.push(this.announcement);
                    console.log("save_changes", postdata);
                    axios({
                        method: 'POST',
                        url: api_url("update_settings"),
                        data: postdata
                    }).then(function (result) {
                        console.log("Have result for save_changes()", result);
                        self.global_settings = [];
                        self.update_model(result.data);
                        self.notify("Your changes have been saved.");
                    })
                        .catch(function (error) { console.log(error); });
                },

                on_user_input: function (table, item) {
                    if (item) item.IsChanged = true;
                    this.status_text = "You have unsaved changes";
                    this.is_changed = true;
                },

                set_status_message: function (text, delay_ms) {
                    this.status_text = text;
                    if (delay_ms > 0) this.clear_status_message(delay_ms);
                },

                clear_status_message: function (delay_ms) {
                    let self = this;
                    if (delay_ms > 0) setTimeout(function () { self.status_text = ""; }, delay_ms);
                    else this.status_text = "";
                },

                notify: function (msg) {
                    this.$refs['infodialog'].open(msg, "Info");
                },
            }
        });



    </script>

}

@section Styles {

    <style>

        .section-name {
            font-size: larger !important;
            font-weight: bold !important;
        }

        .location-label {
            padding-left: 4px;
            padding-right: 8px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-weight: bold;
        }

        .location-input {
            margin: 4px;
            width: 10em;
        }

        .action-button {
            margin-left: 1rem;
        }
    </style>
}